<!DOCTYPE HTML>

<html style="height: 100%;">

<head>
    <title>QRCode</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <style>
        body {
            margin: 0px;
            background: rgb(14, 14, 14);
            height: 100%;
            display: block;
            text-align: center;
        }
        img {
            user-select: none;
            margin: auto;
            background-color: rgb(230, 230, 230);
            transition: background-color 300ms ease 0s;
        }
        div {
            color: white;
        }
    </style>
</head>

<body>
    <% if (error) { %>
        <div><%= error %></div>
    <% } else { %>
        <img src="<%= qrurl %>" />
    <% } %>
</body>

</html>